.post__item__delete {
    border: 1px solid #E2E5E6;
    background-color: #FFFFFF;
    color: #373F41;
    padding: 12px 18px;
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.3px;
    transition-duration: 0.1s;
}

.post__item__delete:hover {
    border: 1px solid #F4F5F4;
    background-color: #F4F5F4;
    color: #373F41;
}

.post__item__delete:active {
    border: 1px solid #373F41;
    background-color: #373F41;
    color: #FFFFFF;
}